<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="assets/icon.png" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="the-monospace-web/reset.css" />
  <link rel="stylesheet" href="the-monospace-web/index.css" />
  <script type="module" src="the-monospace-web/index.js"></script>
  <script type="module" src="web-llm/index.js"></script>
  <script type="module" src="scripts/index.js"></script>
</head>

<body>
  <input type="hidden" class="debug-toggle" />
  {{ content | safe }}
</body>

</html>