<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="assets/icon.png" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="the-monospace-web/reset.css" />
  <link rel="stylesheet" href="the-monospace-web/index.css" />
  <script type="module" src="the-monospace-web/index.js"></script>
  <script type="module" src="web-llm/index.js"></script>
  <style>
    #zodiload,
    #spirit {
      display: flex;
      gap: 0.5rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      justify-content: center;
    }

    #spirit {
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <input type="hidden" class="debug-toggle" />
  <div id="spirit"> - </div>
  <div id="zodiload">
    <span></span>
  </div>
  <script type="module" src="scripts/index.js"></script>
  {{ content | safe }}
</body>

</html>